@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top-color: #3498db;
  animation: spin 1s linear infinite;
  width: 55px;
  height: 55px;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}
